*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all 0.5s;
    cursor: pointer;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}

.card:hover{
    transform: scale(1.03);
}

#btn-primary{
    border-radius: 50px;
    width: 100%;
}
#btn-primary:hover{
    background-color: rgb(20, 29, 153);
}
h3,h5{
    color: rgb(0, 91, 228);
}

#offcanvasTop{
    height: 80%;
}

.offcanvas-body{
    width: 100%;
}

.hi{
    width: 800px;
    height: 500px;
}

@media screen and (max-width: 767px) {
    .hi {
        background-image: url('./OIP.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hi {
        background-image: url('./OIP.jpg');
    }
}